argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
blinker==1.8.2
cffi==1.17.1
click==8.1.7
colorama==0.4.6
cryptography==43.0.3
dnspython==2.7.0
Flask==3.0.3
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pendulum==3.0.0
pycparser==2.22
pycryptodomex==3.21.0
pymongo==4.10.1
pyseto==1.7.9
pysodium==0.7.18
python-dateutil==2.9.0.post0
redis==5.2.0
six==1.16.0
time-machine==2.16.0
toml==0.10.2
tzdata==2024.2
Werkzeug==3.0.6
